
.header {
  display: flex;
  align-items: center;
  height: 293px;
  padding: 92px 24px 96px 24px;
}

.header__menu {
  padding-right: 40px;
  padding-left: 26.5px;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 31.65px;
  list-style-type: circle;
}

.menu-item_no-marker {
  list-style: none;
}

.menu-link {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.header__logo {
  display: block;
  width: 137px;
}

.header__logo-image {
  width: 100%;
}

.adress {
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: 0.01em;
  white-space: nowrap;
}

.adress-header {
  display: flex;
  flex-direction: column;
  padding-left: 190px;
}

.cover {
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 135px 50px;
  gap: 20px;
}

.aligned-text {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text_center {
  line-height: 100%;
  text-align: center;
}

.aligned-text_right {
  line-height: 100%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}
